.BottomNavbarWrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0275f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f2f2f2;
    padding: 20px 18px;
}

.BottomNavbarItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    span{
        font-size: 12px;
        font-family: "Rubik";
        font-weight: 300;
        line-height: 150%;
        color: #f2f2f2;
    }
}