.goldenBubblePopup {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    animation: scaleUp 0.4s ease-in-out;
    position: absolute;
    height: 10vh;
    width: 80%;
    background: url("/assets/leaderboard/popup.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-inline: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1.5;
  
    .goldenBubbleImage {
      position: absolute;
      top: -80px;
      left: 50%; 
      transform: translateX(-50%); 
      border-radius: 50%;
      height: 110px;
      width: 110px;
      padding: 5px;
      background-color: #fff;
      animation: bounce 1s infinite ease-in-out; /* Add bounce animation */
    }
  
    p {
      color: white;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      animation: fadeInScale 0.5s ease-in-out; /* Add fade-in and scale animation for text */
    }
  }
  
  /* Keyframes for bounce animation */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0) translateX(-50%); /* Maintain centering during animation */
    }
    50% {
      transform: translateY(-5px) translateX(-50%); /* Bounce up by 10px */
    }
  }
  
  /* Keyframes for text animation (fade in with slight scale) */
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .goldenBubbleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }